<div class="container">
    <h1>Reactive Forms Student List</h1>
    <button class="btn btn-primary" routerLink="/add">Add</button>
    <div class="panel panel-default" *ngFor="let student of studentList">
        <div class="panel-heading"><strong>{{student.firstname + ' '+ student.lastname}} </strong></div>
        <div class="panel-body">Standard: {{student.standard}}</div>
        <button class="btn btn-info" (click)="viewStudent(student.id)">View</button>
        <button class="btn btn-warning" (click)="editStudent(student.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
    </div>
</div>