<div class="container">

<form #addForm="ngForm" (ngSubmit)="saveStudent()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Student Template Driven Form </h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="firstname.invalid && firstname.touched" [class.has-success]="firstname.valid">
                <label for="firstname" class="control-label">Firstname</label>
                <input required id="firstname" type="text" class="form-control" name="firstname" [(ngModel)]="student.firstname"
                    #firstname="ngModel">
                <span *ngIf="firstname.invalid && firstname.touched" class="help-block"> Firstname Is Required!</span>
            </div>
<!-- 
            <div>touched : {{firstname.touched}}</div>
            <div>untouched : {{firstname.untouched}}</div>
            <div>dirty : {{firstname.dirty}}</div> -->

            <div class="form-group" [class.has-error]="lastname.invalid && lastname.touched" [class.has-success]="lastname.valid">
                <label for="lastname" class="control-label">Lastname</label>
                <input required id="lastname" type="text" class="form-control" name="lastname" [(ngModel)]="student.lastname"
                #lastname >
                <span *ngIf="lastname.invalid && lastname.touched" class="help-block"> Lastname Is Required!</span>
            </div>

            <div class="form-group" [class.has-error]="standard.invalid && standard.touched" [class.has-success]="standard.valid">
                <label for="standard" class="control-label">Standard</label>
                <input required id="standard" type="text" class="form-control" name="standard" [(ngModel)]="student.standard"
                    #standard ="ngModel"  >
                <span *ngIf="standard.invalid && standard.touched" class="help-block"> Standard Is Required!</span>
            </div>

            <!-- <div class="form-group" [class.has-error]="email.invalid"
                [class.has-success]="email.valid">
                <label for="email">Email</label>
                <input [required]="contactPref.value=='email'" [email]="employee.email!==''" id="email" type="text" class="form-control" name="email" [(ngModel)]="employee.email"
                    #email="ngModel">
                <span *ngIf="email.errors?.required" class="help-block"> Email Is Required!</span>
                <span *ngIf="email.errors?.email " class="help-block"> Email Is Invalid!</span>
            </div> -->


        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" [disabled]="addForm.invalid" type="submit">Add Student</button>
        </div>
    </div>
</form>

</div>
Angular Generated Form Model: {{addForm.value | json}}